<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="/admin"
      style="font-family: 'Kalam', cursive; font-size: 24px; color: white"
      ><b>Admin Panel</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </li>
      </ul>

      <div class="nav-btns">
        <a href="/admin/add-product" class="btn btn-success">
          <div class="cart-notif">
            <span class="material-symbols-outlined"> add_circle </span>
            Add New Product
          </div>
        </a>
        <a href="/logout" class="btn btn-danger">
          <div class="cart-notif">
            <span class="material-symbols-outlined"> logout </span>
            Logout
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
