<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/imports"></div>
    <title>Register</title>
</head>
<body>
     
    <div th:replace="fragments/navbar"></div>

      <div class="container form-container">
          
        <form class="signup-form" action="/login" method="POST">
            <h1 class="my-2 pb-3" style="text-align: center; border-bottom: solid 1px rgb(191, 191, 191);" >Register</h1>
            <div class="input-field-signup">
                <label for="user-email">Email</label>
                <input type="email" name="email" id="user-email"  required>
            </div>
            <div class="input-field-signup">
                <label for="user-password">Password</label>
                <input type="password" name="password" id="user-password"   required>
            </div>
            
           
            
            <div class="input-field-signup">
                <button class="btn btn-primary" style="width: 100%;" type="submit">Login</button>
            </div>

        </form>
        
      </div>

   

</body>
</html>