<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/imports"></div>
    <title>Update Product</title>
  </head>
  <body>
    <div th:replace="fragments/admin-nav"></div>

    <div class="container mt-4">
      <div class="cart-container">
        <div class="cart-cards">
          <div class="card card-cart mb-3">
            <div class="row g-0">
              <div class="col-md-4 cart-img-div">
                <img th:src="${product.images[0]}" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8 cart-body-div">
                <div class="card-body">
                    <span><b>SKU : </b><h6 th:text="${product.SKU}" class="card-title" style="display: inline-block;"></h6> </span>
                    <span><b>Name : </b><h6 th:text="${product.name}" class="card-title"  style="display: inline-block;"></h6> </span>
                  <div class="cart-card-row">
                    <span><b>Price : </b><h6 th:text="'₹ ' + ${product.price}" class="card-title" style="color:rgb(53, 220, 53);display: inline-block;"></h6> </span>
                    <span><b>Quantity : </b><p th:text="${product.quantity}" class="card-title" style="display: inline-block;"></p> </span>
                  </div>
                  <p th:utext="'<b>Short Description : </b>' + ${product.shortDescription}" class="card-text"></p>
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-container">
        <form action="/admin/update-product" method="POST" class="form-update-product">
          <div class="mb-3">
            <label for="SKU" class="form-label">SKU</label>
            <input
              type="text"
              class="form-control"
              id="product-sku"
              readonly
              name="SKU"
              th:value="${product.SKU}"
            />
          </div>
          <div class="mb-3">
            <label for="product-name" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="product-name"
                name="name"
              th:value="${product.name}"
            />
          </div>
          <div class="mb-3">
            <label for="product-price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="product-price"
                name="price"
              th:value="${product.price}"
              min="1"
            />
          </div>
          <div class="mb-3">
            <label for="product-price" class="form-label">Quantity</label>
            <input
              type="number"
              class="form-control"
              id="product-price"
                name="quantity"
              th:value="${product.quantity}" min="1"
            />
          </div>
          <div class="mb-3">
            <label for="product-shortDescription" class="form-label"
              >Short Description</label
            >
            <input
              type="text"
              class="form-control"
              id="product-shortDescription"
              th:value="${product.shortDescription}"
                name="shortDescription"
            />
          </div>
          <div class="mb-3">
            <label for="product-description" class="form-label"
              >Description</label
            >
            <textarea
              class="form-control"
              id="product-description"
              rows="3"
                name="description"
                th:text="${product.description}"
            ></textarea>
          </div>

          

          <div class="mb-3">
            <label for="product-categories" class="form-label"
              >Categories</label
            >
            <input
              type="text"
              class="form-control"
              id="product-categories"
              th:value="${#strings.arrayJoin(product.categories, ',')}"
              name="categories"
            />
            <div id="categoriesHelpBlock" class="form-text">
              Enter categories separated by comma
            </div>
          </div>
          <div class="mb-3">
            <label for="product-images" class="form-label">Image Urls</label>
            <input
              type="text"
              class="form-control"
              id="product-images"
              th:value="${#strings.arrayJoin(product.images, ',')}"
                name="images"
            />
            <div id="imagesHelpBlock" class="form-text">
              Enter image urls separated by comma
            </div>
          </div>

          <button type="submit" class="btn btn-success">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
